<app-adminnav></app-adminnav>
<div class="container pt-5 mt-5">

    <div class="card text-center">
        <div class="card-body">
            <app-profile-picture [firstLetter]="firstLetter" [lastLetter]="lastLetter"></app-profile-picture> 
          <h5 class="card-title pt-2">Welcome {{userName}}!</h5>
          <p class="card-text">See below for bug reports you have submitted.</p>
          
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg">
            <app-profile-reports></app-profile-reports>   
          </div>
         <!-- <div class="col-lg">
              <h3>Solutions</h3>
            <div class="m-4" *ngFor="let solutions of solutionArray">
                <table class="table">
                    <app-profile-solutions [bugName]="solutions.bugName" 
                    [bugLink]="solutions.bugLink" 
                    [solutionText]="solutions.solutionText" 
                    [solutionStatus]="solutions.solutionStatus">
                    </app-profile-solutions>
                </table>
                </div> 
          </div>-->
        </div>

</div>

<app-footer></app-footer>