<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
     
      <a class="logo" routerLink="/userhome"><img class="revature-logo" src="../../assets/rev-logo.png"></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
        <div class="navbar-nav">
  
          <a class="badge nav-link" aria-current="page" routerLink="/adminhome">Home</a>
          <a class="badge badge-light nav-link" routerLink="/profile">My Profile</a>
          <a class="badge badge-light nav-link" aria-current="page" routerLink="/bugreports">Manage Bug Reports</a>
         <!-- <a class="badge badge-light nav-link"  routerLink="/leaderboard">Leader Board</a>
          <a class="badge badge-light nav-link"  routerLink="/metrics">Metrics</a> -->
          <a class="badge badge-light nav-link"  routerLink="">Logout</a>
  
        </div>
      </div>
    </div>
</nav>